* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #dadada;
    display: flex;
    justify-content: center;
    align-items: center;

}

#center {
   
    height: 80%;
    width: 70%;
    position: relative;
    background-color: antiquewhite;
}

.imgcontainer{
    overflow: hidden;
    height: 100%;
    width: 50%;
    position: absolute;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}